<a href="https://colab.research.google.com/github/arindamdeyofficial/vertebraeSurgeryRiskFactor/blob/main/Group307_kyphosis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Import Libraries/Dataset 
  b.	Import the required libraries

In [8]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/arindamdeyofficial/vertebraeSurgeryRiskFactor/7e5ba322ac93a5636528e286894521d35f7d4995/kyphosis.csv')

In [9]:
df.shape
df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [10]:
df.columns

Index(['Kyphosis', 'Age', 'Number', 'Start'], dtype='object')

Now First check should be any Null is present or not

In [11]:
df.isna().any()

Kyphosis    False
Age         False
Number      False
Start       False
dtype: bool

Now there are no Null values present